<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-if判断</title>
</head>
<body>
    <h4>v-if，顾名思义，条件判断。当得到结果为true时，所在的元素才会被渲染。<br>
        语法：v-if="布尔表达式"
    </h4>

    <div id="app">
        <!--事件中直接写js片段-->
        <button v-on:click="show = !show">点击切换</button><br/>
        <h3 v-if="show">
            你好
        </h3>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el:"#app",
            data:{
                show:true
            }
        })
    </script>

</body>
</html>